<div class="side-list-container" [ngClass]="{'isPinned': isPinned}">
  <side-list [listHeading]="['Equipment List']"
             [itemList]="equipmentList"
             (result)="ngOnChanges($event)"
             (pinSideList)="pinSideList($event)"
             (addItem)="addEquipment()"></side-list>

</div>
<div class="page-content" [ngClass]="{'fit-in': isPinned}">
  <page-header [heading]="equipment.id === undefined? 'Add Equipment' : 'Edit Equipment'"
               [name]="equipment.name"
               (submit)="submit();"></page-header>

  <div>
    <mat-form-field class="input input-full-width">
      <input matInput placeholder="Name" [(ngModel)]="equipment.name" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <mat-form-field class="input input-extra-wide">
      <input matInput placeholder="Description" [(ngModel)]="equipment.description" [ngModelOptions]="{standalone: true}" required />
    </mat-form-field>
  </div>
  <mat-form-field class="input input-full-width">
    <input matInput placeholder="Model" [(ngModel)]="equipment.model" [ngModelOptions]="{standalone: true}" required />
  </mat-form-field>
  <mat-form-field class="input input-full-width">
    <input matInput placeholder="Serial Number" [(ngModel)]="equipment.serialNumber" [ngModelOptions]="{standalone: true}" required />
  </mat-form-field>
  <mat-form-field class="input input-full-width ">
    <input type="number" matInput placeholder="Initial Cost" [(ngModel)]="equipment.initialCost" [ngModelOptions]="{standalone: true}" required />
  </mat-form-field>
  <br />
  <br />
  <div class="calibration-container">
    <h3>Calibrations</h3>
    <button class="add-list-button" mat-icon-button (click)="addCalibration()">
      <i class="material-icons">add_circle_outline</i>
    </button>
    <hr />
    <ul class="generic-ul calibration-list">
      <li *ngFor="let calibration of equipment.calibrationList">
        <mat-form-field class="input input-full-width">
          <input matInput [matDatepicker]="calibrationDate" placeholder="Calibration Date" [(ngModel)]="calibration.calibrationDate" [ngModelOptions]="{standalone: true}" required>
          <mat-datepicker-toggle matSuffix [for]="calibrationDate"></mat-datepicker-toggle>
          <mat-datepicker #calibrationDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input input-full-width">
          <input matInput [matDatepicker]="calibrationDue" placeholder="Calibration Due" [(ngModel)]="calibration.calibrationDue" [ngModelOptions]="{standalone: true}" required>
          <mat-datepicker-toggle matSuffix [for]="calibrationDue"></mat-datepicker-toggle>
          <mat-datepicker #calibrationDue></mat-datepicker>
        </mat-form-field>
        <div ng2FileDrop [uploader]="uploader" class="generic-file-drop">
          <input type="file" name="upload-file" id="upload-file" ng2FileSelect [uploader]="uploader" multiple class="upload-button" />
          <label for="upload-file"><i class="material-icons">file_upload</i></label>
        </div>
        <button class="file-download" mat-icon-button>
          <i class="material-icons">file_download</i>
        </button>
        <button class="remove-list-button" mat-icon-button (click)="removeCalibration(calibration)">
          <i class="material-icons">clear</i>
        </button>
      </li>
    </ul>
  </div>
</div>
