<div class="side-list-container" [ngClass]="{'isPinned': isPinned}">
  <side-list [listHeading]="['Equipment List']"
             [itemList]="equipmentList"
             (result)="ngOnChanges($event)"
             (pinSideList)="pinSideList($event)"></side-list>

</div>
<div class="page-content" [ngClass]="{'fit-in': isPinned}">
  <form name="form" (ngSubmit)="equipmentForm.valid && sumbit()" [formGroup]="equipmentForm" novalidate>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Name"  formControlName="name" required>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Description" formControlName="description" required/>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Model" formControlName="model" required/>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Serial Number" formControlName="serialNumber" required/>
    </md-form-field>
    <md-form-field class="example-full-width">
      <input type="number" mdInput placeholder="Initial Cost" formControlName="initialCost" required/>
    </md-form-field>
    <md-checkbox class="example-margin" formControlName="isCalibrated">
      Is Calibrated
    </md-checkbox>

    <br />
    <br/>

    <h3>Calibration</h3>
    <br/>

    
    <button type="button"(click)="addCalibration()">Add Calibration</button>
    <ul>
      <li *ngFor="let calibration of calibrationList">

        <md-form-field>
          <input mdInput [mdDatepicker]="calibrationDate" placeholder="Calibration Date" required>
          <md-datepicker-toggle mdSuffix [for]="calibrationDate"></md-datepicker-toggle>
          <md-datepicker #calibrationDate></md-datepicker>
        </md-form-field>

        <md-form-field>
          <input mdInput [mdDatepicker]="calibrationDue" placeholder="Calibration Due" required>
          <md-datepicker-toggle mdSuffix [for]="calibrationDue"></md-datepicker-toggle>
          <md-datepicker #calibrationDue></md-datepicker>
        </md-form-field>

        <input type="file" (change)="getFiles($event, calibration)" placeholder="Upload file..." />
        

      </li>
    </ul>



    


    <div class="button-row">
      <button md-raised-button color="primary">Save</button>
    </div>
  </form>
</div>
