<div *ngIf="getCanActivate();">
  <nav class='navbar navbar-inverse navbar-static-top'>
    <div class='container-fluid'>
      <ul class='nav navbar-nav'>
        <li><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['quotes']">Quotes</a></li>
        <li><a [routerLink]="['contract-review']">Contract Review</a></li>
        <li><a [routerLink]="['user']">Users Management</a></li>
        <li><a [routerLink]="['equipment']">Equipment</a></li>
      </ul>
    </div>
  </nav>
</div>
