@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.container-fluid {
  padding: 0;
}
.top-navigation > div > .navbar-static-top {
  height: 80px;
}
.navbar-nav > li > a {
  height: 80px;
  line-height: 2.5em;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.navbar-static-top {
  margin-bottom: 0;
}
.side-list-container {
  background-color: #eceeee;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 50px;
}
.side-list-container > side-list > div.side-list > span.hamburger > i {
  padding: 15px;
  color: #605f5f;
  font-size: 20px;
}
.side-list-container > side-list > div.side-list > div.side-list-content {
  display: none !important;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .heading {
  font-weight: bold;
  color: #636262;
  font-size: 20px;
  font-family: 'Segoe UI';
  border-bottom: solid 1px #808080;
  padding: 10px 0 20px 15px;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .pin {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #808080;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .pin.isPinned {
  color: #6175d3;
}
.side-list-container > side-list > div.side-list > span {
  display: block;
}
.side-list-container:hover {
  width: 250px;
  z-index: 999;
}
.side-list-container:hover > side-list > div.side-list > div.side-list-content {
  display: block !important;
}
.side-list-container:hover > side-list > div.side-list > span {
  display: none;
}
.side-list-container.isPinned {
  width: 250px;
}
.side-list-container.isPinned > side-list > div.side-list > div.side-list-content {
  display: block !important;
}
.side-list-container.isPinned > side-list > div.side-list > span {
  display: none;
}
.page-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 55px;
  right: 0;
}
.page-content.fit-in {
  left: 255px;
}
.login-form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.login-form .login-section {
  background-color: #e9e8e8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 15px;
}
.login-form .login-section > h2 {
  color: #b5b2b2;
  font-family: 'Segoe UI';
  padding-left: 70px;
  font-size: 30px;
}
.login-form .login-section > form > div {
  margin: 10px 0 0 0;
}
.login-form .login-section > form > div > input {
  width: 90%;
  height: 35px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 5px 0 10px;
}
.login-form .login-section > form > div > input:focus {
  border: 1px solid #b5b2b2;
}
.login-form .image {
  position: absolute;
  left: 280px;
  right: 0;
  top: 0;
  background-color: ActiveCaption;
}
.side-list-form > input {
  width: 215px;
  margin-left: 15px;
  height: 40px;
}
.side-list-form > ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.side-list-form > ul > li {
  height: 40px;
  padding-left: 20px;
  line-height: 3em;
}
.side-list-form > ul > li:hover {
  cursor: pointer;
  background-color: #9a9697;
}
.side-list-form > ul > li.is-selected-value {
  background-color: #9a9697;
}
.side-list-form > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #636262;
  font-family: 'Segoe UI' !important;
  text-decoration: none;
}
.dashboard {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}