@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.container-fluid {
  padding: 0;
}
.top-navigation > div > .navbar-static-top {
  height: 80px;
}
.navbar-nav > li > a {
  height: 80px;
  line-height: 2.5em;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.navbar-static-top {
  margin-bottom: 0;
}
.side-list-container {
  background-color: #eceeee;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 50px;
}
.side-list-container > side-list > div.side-list > span.hamburger > i {
  padding: 15px;
  color: #605f5f;
  font-size: 20px;
}
.side-list-container > side-list > div.side-list > div.side-list-content {
  display: none !important;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .heading {
  font-weight: bold;
  color: #636262;
  font-size: 20px;
  font-family: 'Segoe UI';
  border-bottom: solid 1px #808080;
  padding: 10px 0 20px 15px;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .pin {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #808080;
}
.side-list-container > side-list > div.side-list > div.side-list-content > .pin.isPinned {
  color: #6175d3;
}
.side-list-container > side-list > div.side-list > span {
  display: block;
}
.side-list-container:hover {
  width: 250px;
  z-index: 999;
}
.side-list-container:hover > side-list > div.side-list > div.side-list-content {
  display: block !important;
}
.side-list-container:hover > side-list > div.side-list > span {
  display: none;
}
.side-list-container.isPinned {
  width: 250px;
}
.side-list-container.isPinned > side-list > div.side-list > div.side-list-content {
  display: block !important;
}
.side-list-container.isPinned > side-list > div.side-list > span {
  display: none;
}
.page-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 55px;
  right: 0;
}
.page-content.fit-in {
  left: 255px;
}
.login-form {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.login-form .login-section {
  background-color: #e9e8e8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 15px;
}
.login-form .login-section > h2 {
  color: #b5b2b2;
  font-family: 'Segoe UI';
  padding-left: 70px;
  font-size: 30px;
}
.login-form .login-section > form > div {
  margin: 10px 0 0 0;
}
.login-form .login-section > form > div > input {
  width: 90%;
  height: 35px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 5px 0 10px;
}
.login-form .login-section > form > div > input:focus {
  border: 1px solid #b5b2b2;
}
.login-form .loading-spinner {
  position: absolute;
  top: 250px;
  left: 50px;
}
.image-container {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  background-color: aquamarine;
  z-index: 9999999;
}
.image-container .login-image {
  width: 100%;
  height: 100%;
}
.side-list-form > input {
  width: 215px;
  margin-left: 15px;
  height: 40px;
}
.side-list-form > ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.side-list-form > ul > li {
  height: 40px;
  padding-left: 20px;
  line-height: 3em;
}
.side-list-form > ul > li:hover {
  cursor: pointer;
  background-color: #9a9697;
}
.side-list-form > ul > li.is-selected-value {
  background-color: #9a9697;
}
.side-list-form > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #636262;
  font-family: 'Segoe UI' !important;
  text-decoration: none;
}
.side-list-content .button-row {
  padding-left: 80px;
  position: absolute;
  bottom: 10px;
}
.side-list-content .button-row .add-item {
  background-color: #3b3fea;
  color: white;
  font-weight: bold;
}
.dashboard {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Segoe UI';
  color: #636262;
  font-weight: bold;
}
.dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
}
.dashboard .dashboard-header .widget-selector {
  margin: 10px 50px 0 0;
}
.widget-header {
  margin-top: -10px;
  background-color: #e0dede;
  padding: 5px 5px 0 5px;
}
.widget-header > h4 {
  display: inline-block;
}
.widget-header > .remove-widget-button {
  float: right;
}
.page-header {
  margin-top: -15px;
  width: 99.5%;
  height: 80px;
  font-family: 'Segoe UI';
  color: #636262;
}
.page-header > span {
  font-weight: bold;
  color: #636262;
}
.page-header > .button-row {
  background-color: pink;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.input {
  margin: 0 0 0 20px;
  color: #636262;
  font-size: 20px;
  font-family: 'Segoe UI';
  display: inline;
}
.input-full-width {
  width: 300px !important;
}
.input-extra-wide {
  width: 622px !important;
}
.generic-ul {
  list-style: none;
}
.generic-file-drop {
  display: inline-block;
  width: 300px;
}
.calibration-container {
  width: 740px;
  position: relative;
  margin: 0 0 0 20px;
}
.calibration-container > h3 {
  margin: 5px 0 0 10px;
  display: inline;
}
.calibration-container .add-list-button {
  position: absolute;
  right: 10px;
  top: -5px;
}
.calibration-container .add-list-button .material-icons {
  font-size: 28px;
  color: #46ad2d;
}
.calibration-container .calibration-list {
  padding: 0 0 0 5px;
}
.calibration-container .calibration-list > li > .input {
  margin: 0;
}
.calibration-container .calibration-list > li > .generic-file-drop {
  display: inline;
  padding: 15px 0 0 15px;
}
.calibration-container .calibration-list > li > .generic-file-drop > .upload-button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.calibration-container .calibration-list > li > .generic-file-drop > label {
  cursor: pointer;
  line-height: 1.5em;
  vertical-align: text-top;
  font-size: 28px;
}
.calibration-container .calibration-list > li > .generic-file-drop > .file-download {
  color: #4685ba;
  font-size: 28px;
  line-height: 1.5em;
  vertical-align: text-top;
}
.calibration-container .calibration-list > li > .generic-file-drop > .file-download > i {
  font-size: 28px;
  line-height: 1.5em;
}
.remove-list-button {
  color: #ff0000;
}
.remove-list-button .material-icons {
  font-size: 28px;
  color: #ff0000;
}
.alert-container {
  position: fixed;
  z-index: 999;
  top: 100px;
  right: 50%;
  width: 300px;
  text-align: center;
}