@import (reference) "../../palette";

.side-list-form {
  & > input {
    width: 215px;
    margin-left: 15px;
    height: 40px;
  }

  & > ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;

    & > li {
      &:hover {
        cursor: pointer;
        background-color: @medium-gray;
      }

      &.is-selected-value {
        background-color: @medium-gray;
      }

      height: 40px;
      padding-left: 20px;
      line-height: 3em;

      & > a {
        font-size: 18px;
        font-weight: bold;
        color: @text-dark-gray;
        font-family: 'Segoe UI' !important;
        text-decoration: none;
      }
    }
  }
}



.side-list-content {
  .button-row {
    padding-left: 80px;
    position: absolute;
    bottom: 10px;

    .add-item {
      background-color: #3b3fea;
      color:white;
      font-weight:bold;
    }
  }
}
