.top-navigation {
  height: 80px;
  background-color: #fefcff;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #f3f2f3;
}
.top-navigation .logo {
  margin: 10px 20px 10px 20px;
  width: 170px;
}
.top-navigation .navbar .container-fluid .nav .nav-item {
  color: #636262;
}