<div class="side-list-container" [ngClass]="{'isPinned': isPinned}">
  <side-list [listHeading]="['Quotes List']"
             [itemList]="quoteList"
             (result)="ngOnChanges($event)"
             (pinSideList)="pinSideList($event)"></side-list>

</div>
<div class="page-content" [ngClass]="{'fit-in': isPinned}">
  <form name="form" (ngSubmit)="registerForm.valid && sumbit()" [formGroup]="quoteForm" novalidate>

    <mat-form-field class="example-full-width">
      <textarea mdInput placeholder="Address 2"></textarea>
    </mat-form-field>





    <!--<div class="form-group" [ngClass]="{ 'has-error': registerForm.submitted && !email.valid }">
      <label for="email">Email Address</label>
      <input type="text" class="form-control" name="email" id="email" formControlName="email" required/>
      <div *ngIf="registerForm.submitted && !email.valid" class="help-block">First Name is required</div>
    </div>-->
  </form>
</div>


