@import (reference) "../../palette";

.dashboard {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Segoe UI';
  color: @text-dark-gray;
  font-weight: bold;

  .dashboard-header {
   display:flex;
   justify-content:space-between;
    .widget-selector {
      margin:10px 50px 0 0;
      //float: right;
      //margin-right: 90px;
    }
  }
}

.widget-header {
  margin-top: -10px;
  background-color: #e0dede;
  padding: 5px 5px 0 5px;

  & > h4 {
    display: inline-block;
  }

  & > .remove-widget-button {
    float: right;
  }
}
